<div class="container mt-5 p-4 bg-light shadow-sm rounded corporate-bg">
  <h2 class="text-center mb-4 large-title">Account List</h2>

  <!-- Search input for filtering the account list -->
  <div class="mb-3">
    <input
      type="text"
      #searchInput
      placeholder="Search by Account Name or ID"
      class="form-control"
      (input)="onSearch(searchInput.value)"
    />
  </div>

  <table class="table table-hover table-bordered align-middle text-center corporate-table">
    <thead class="bg-dark text-white">
      <tr>
        <th class="text-center-column">ID</th>
        <th class="text-center-column">Account Name</th>
        <th class="text-center-column">Balance</th>
        <th class="text-center-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Display only filtered accounts -->
      <tr *ngFor="let account of filteredAccounts" class="table-light">
        <td class="text-center-column">{{ account.id }}</td>
        <td class="text-center-column">{{ account.accountHolderName }}</td>
        <td class="text-center-column"><strong>{{ account.balance | currency : 'INR' }}</strong></td>
        <td class="text-center-column actions">
          <button class="btn btn-outline-primary me-2" (click)="deposit(account.id)">
            <i class="fas fa-plus-circle"></i> Deposit
          </button>
          <button class="btn btn-outline-danger" (click)="withdraw(account.id)">
            <i class="fas fa-minus-circle"></i> Withdraw
          </button>
          <button class="btn btn-outline-info" (click)="viewTransactionHistory(account.id)">
            <i class="fas fa-history"></i> View Transactions
          </button>
          <button class="btn btn-outline-danger" (click)="confirmDelete(account.id)">
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
