.toast-message {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
  }
  
  .toast-message.fade-out {
    opacity: 0;
  }
  